$asurion-purple: #8223D2;
$dark-grey: #333F48;
$light-grey: #6C747B;

body {
	font-family: "Apercu Pro", sans-serif
}

.mapboxgl-map {
    border: 1px solid #8223d2;
    border-radius: 20px;
	display: inline-block;
	float: left;
	height: 600px;
	width: 800px;
}

.map-controls {
	display: inline-block;
}

.map-text-input-container {
	margin: 10px;
	display: block;
	text-align: center;
	font-size: 16px;
	width: 100px;

	input {
		margin: 10px;
		display: block;
		border: 1px solid black;
		text-align: center;
		color: black;
		font-size: 16px;
		padding: 8px;
		text-align: left;

		&::placeholder {
			font-style: oblique;
		};

		&:focus {
			outline: none;
			border-bottom: 4px solid black;
			margin-bottom: -3px;
		}
	}
}

.buttonLabel {
	margin-top: -16px;
	font-size: 12px;
}

.map-button-container {
	margin: 10px;
	display: inline-block;
	border: 1px solid $asurion-purple;
	height: 40px;
	border-radius: 100px;
	text-align: center;
	color: $asurion-purple;
	font-size: 16px;

	.mapButton {
		cursor: pointer;
		border-radius: 100px;
		padding: 11px;

		&:active {
			background: $light-grey;
			color: white;
		};
	}

	.directions {
		cursor: pointer;
		border-radius: 100px;
		padding: 11px;

		&:active {
			background: $light-grey;
			color: white;
		}
	}

	input {
		position: absolute;
		visibility: hidden;
	}

	label {
		display: inline-block;
		padding: 12px;
		padding-left: 36px;
		cursor: pointer;
	}

	.customButton {
		position: relative;
		display: block;
		height: 20px;
		width: 20px;
		margin: 10px;
		border: 1px solid $asurion-purple;
		left: -36px;
		top: -31px;
		border-radius: 100px;

		.interiorButton {
			height: 14px;
			width: 14px;
			background: white;
			margin: 2px;
			border-radius: 100px;
		}
	}
}

.selected {
	background: $asurion-purple;
	color: white;

	.customButton {
		border: 1px solid $dark-grey;
		background: white;

		.interiorButton {
			background: $light-grey;
			border: 1px solid $dark-grey;
		}
	}
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $asurion-purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px  $asurion-purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*hide the mapbox copyright stuff*/
.mapboxgl-ctrl-bottom-right {
	display: none;
}

.mapboxgl-ctrl-group:not(:empty) {
	box-shadow: none;
	border: 1px solid transparentize($asurion-purple, .7);
}

.mapboxgl-user-location-dot {
	background-color: $asurion-purple;

	&::before {
		background-color: $asurion-purple;
	}
}
